node_modules/
.pnp
.pnp.js

#build outputs
dist/
build/
*.tsbuildinfo

#turbo
.turbo/

#react native
.expo/
.expo-shared/

#mobile
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
local.properties
android/app/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
Pods/
ios/build/

#logs
logs
*.log
npm-debug.log*

#env 
.env
.env.local
.env.*.local

#ide related
.vscode/

#os bs
.DS_Store
Thumbs.db

#misc
coverage/